<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post Generator Page</title>
</head>
<body>
<h>New Post Pages</h>

<form method="post" action="/new">
    <input type="text" name="username" placeholder="Enter your name">
    <input type="text" name="content" placeholder="Enter Your Content">
    <button>Submit</button>
</form>

</body>
</html>