<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
         <h1><%=posts.id%></h1>
        <h2><%=posts.username%></h2>
        <form method="post" name="content" action="/update/<%= posts.id %>?_method=PATCH">
            <textarea name="content"><%=posts.content%></textarea>
            <button>Submit</button>
        </form>

    
        
</body>
</html>