<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <header>
        <h1>SignUp</h1>
    </header>
    <main>
        <form method="post" action="/signup/id?_method=PATCH">
            <input name="name" placeholder="Enter Your Username"></input>
            <input name="email" placeholder="Enter Your Email">
            <input name="mobile" placeholder="Enter Your Mobile">
            <button>Submit</button>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>